<h1>Help</h1>
<p>
  Don't expect too much help for <em>Rare Street</em>.
  It is a personal investment web application where any type of assistance is yet to be developed.
</p>
<p>
  Other useful sites are:
<ul>
  <li><a href="http://www.google.com/">Google</a>.</li>
  <li><a href="https://www.schwab.com/">Charles Schwab</a>.</li>
  <li><a href="http://finance.yahoo.com/">Yahoo Finance</a>.</li>
</ul>
</p>
