<h1>Rare Street</h1>
<p>
  Welcome to the Home page for <em>Rare Street</em>, a personal investment web application.
</p>
<p>
  Other useful sites are:
  <ul>
    <li><a href="https://www.schwab.com/">Charles Schwab</a>.</li>
    <li><a href="http://finance.yahoo.com/">Yahoo Finance</a>.</li>
  </ul>
</p>
