<div class="jumbotron">
  <h1>Rare Street</h1>
  <p>
    Welcome to the Home page for <em>Rare Street</em>, a personal investment web application.
  </p>
 <hr>
</div>


<p>
  <h2><%= link_to 'Listing of stocks of interest.', controller: 'stocks' %></h2>
</p>
<p>
  <h2>Other useful sites</h2>
</p>
<p>
  <%= link_to image_tag('schwab.png', height: 100, width: 100), 'http://www.schwab.com/' %>
  <%= link_to image_tag('yahoo_finance.jpeg', height: 100, width: 100),
                        'https://finance.yahoo.com/portfolio/pf_1/view?bypass=true' %>
</p>
