<h1>Editing Stock</h1>

<%= render 'form', stock: @stock %>

<div class='btn-group'>
  <%= link_to 'Show', @stock, class: 'btn btn-info' %>
  <%= link_to 'List Stocks', stocks_path, class: 'btn btn-info' %>
</div>