<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Home</a>
      <a class="navbar-brand" href="/stocks">Stocks</a>
      <a class="navbar-brand" href="/">Configuration</a>
      <a class="navbar-brand" href="#help">About</a>
      <a class="navbar-brand" href="#help">Help</a>
    </div>
  </div>
</nav>